div.user-comment {
    box-sizing: border-box;
    width: 40%;
    border: black solid 2px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-family: 'Jost', sans-serif;
}

.title-comment {
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    margin-left: 30px;
}

form {
    padding: 10px;
}

.edit-comment-button {
    border-radius: 15px;
    margin-top: 10px;
    font-family: 'Jost', sans-serif;
}

.product-comment {
    margin-top: 20px;
    margin-left: 5px;
}

.user-rating {
    margin-bottom: 2px;
    color: #3724CE;
}

p {
    margin-left: 5px;
}

label {
    margin-left: 5px;
}


button {
    border-radius: 15px;
    margin-left: 5px;
}

.whole-comment {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment-box {
    width: 1800px;
    padding-left:1120px;
}

.add-comment-box {
    border: black 2px solid;
    border-radius: 10px;
    width: 710px;
    margin-left: 250px;
    height: 100px;
}

::placeholder {
    justify-content: flex-end;
    font-family: 'Jost', sans-serif;
}

textarea {
    resize: none;
    padding-top: 5px;
    padding-left: 5px;
}

.submit-comment {
    font-family: 'Jost', sans-serif;
}

label {
    font-family: 'Jost', sans-serif;
}

.star-rating {
    color: #3724CE;
}
