.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  font-family: 'Audiowide', cursive;
  background-color:#E2E3E5;
  border-radius: 10px;
  color: #3724CE;
}

.login-fields {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.login-fields > label {
  margin: 5px;
}

.elements-container {
  width: 300px;
  margin: 0 auto;
}

.login-button {
  margin-top: 20px;
  height: 30px;
  background-color: #3724CE;
  border: none;
  color:#E2E3E5;
  font-family: inherit;
}
