.active {
    color: #3724CE;
    text-decoration: none;
    text-align: center;
}

ul {
    text-align: center;
    margin: 0;
}
li {
    text-decoration: none;
    color: red;
    list-style-type: none;
}

.logout {
    border: solid black 2px;
}

.username {
    color: #3724CE;
}

.active:hover {
    color: #575856;
}

.active:visited {
    color: #3724CE;
}
