.innerModal {
  width: 1000px;
  height: 700px;
  flex-direction: column;
  justify-content: space-between;
}

.shopping-cart{
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: 'Jost', sans-serif;
}

.no-items {
  font-family: 'Audiowide', sans-serif;
  margin: 200px auto;
  font-size: 25px;
  color: #3724CE;
}

.shopping-cart-title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  background: linear-gradient(to right, #192122, #575856);
  top: 0px;
  padding: 10px;
}

#shopping-cart-title {
  font-size: 35px;
  font-family: 'Audiowide', cursive;
  color: #E2E3E5;
}

.item-span {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #E2E3E5, #c4c4c4da);
  box-shadow: -3px 3px rgba(73, 73, 73, 0.5);
}

#item-image {
  width: 200px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
}

.item-content {
  display: flex;
  width: 100%;
  height: 160px;
  flex-direction: row;
  justify-content: space-between;
}

.item-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 500px;
}

.product-name {
  font-weight: bolder;
}

.item-changes {
  display:flex;
  width: 250px;
  height: 100%;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.item-price {
  display: flex;
  height: auto;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
  /* background-color: #3724CE; */
  padding: 6px;
}

.item-p {
  display: flex;
  flex-direction: row;
  width: auto;
  font-family: 'Jost', sans-serif;
}

#item-franchise {
  font-style: italic;
}

.remove-btn-div {
  display: flex;
  justify-content: flex-end;
}

.remove-button {
  width: 50px;
}

.quantity-modifier {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

price-element {
  width: 25px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;
}

.cart-total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  height: auto;
  position: sticky;
  bottom: 0px;
  margin: 0px;
  font-family: 'Audiowide', cursive;
  padding: 0 20px 10px 0;
}

.items-amount {
  font-family: 'Audiowide', cursive;
  background: linear-gradient(to bottom, #E2E3E5, #c4c4c4da);
  padding: 10px;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: sticky;
  bottom: 0px;
  background: linear-gradient(to bottom, #E2E3E5, #c4c4c4da);
  font-family: 'Audiowide', cursive;
  padding: 10px;
}

#checkout-button {
  color: white;
  background-color: #3724CE;
  border-radius: 5px;
}

.checkout-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  margin-top: 6px;
  padding: 0 20px 10px 0;
}
